:root {
    font-family: 'Archivo', sans-serif;
    --primary-bg-color: black;
    --primary-fnt-color: white;
    --primary-btn-bg-color: black;
    --secondary-bg-color: #464646;
    --tertiary-bg-color: #86623e;

    --section-border-radius: 10px;
}

body {
    background-color: var(--primary-bg-color);
    position: absolute;
    width: 100%;
    height: 100%;
}

.room {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.order {
    grid-row: 1 / 3;
    background-color: var(--secondary-bg-color);
    color: var(--primary-fnt-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.drop {
    background-color: var(--secondary-bg-color);
    color: var(--primary-fnt-color);
}

.queue {
    background-color: var(--secondary-bg-color);
    color: var(--primary-fnt-color);
}

.current {
    background-color: var(--secondary-bg-color);
    color: var(--primary-fnt-color);
}

.democracy {
    background-color: var(--secondary-bg-color);
    color: var(--primary-fnt-color);
}